# Clean and wrangle air quality data

The following data file contains data collected at a roadside monitoring station.  You can see the data in a spreadsheet here: https://docs.google.com/spreadsheets/d/1XpAvrpuyMsKDO76EZ3kxuddBOu7cZX1Od4uEts14zco/edit?usp=sharing

The data contains:
* a heading line (Chatham Roadside) which needs to be skipped
* dates which are sometimes left- and sometimes right-justified indicating that they are not formatted as dates, rather they are text (so need to be converted to dates)
* times which are not all in the same format
* Nitrogen Dioxide levels which are, again, text and sometimes contain nodata
* Status which is always the same

### Project - clean, sort and wrangle the data

Read the dataset into a dataframe, skipping the first row   
Convert dates to date format  
Remove rows with nodata in the Nitrogen dioxide column  
Convert the Nitrogen dioxide levels values to float type  
Sort by Nitrogen dioxide level  
Create a new column for 'Weekdays' (use df['Date'].dt.weekday)  
Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)  
Remove the Status column  

The dataset can be viewed here:  https://drive.google.com/file/d/1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ/view?usp=sharing  and the data accessed here: https://drive.google.com/uc?id=1QSNJ3B1ku8kjXsA_tCBh4fbpDK7wVLAA This is a .csv file  

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [11]:
import pandas as pd
from datetime import datetime
url="https://drive.google.com/uc?id=1QSNJ3B1ku8kjXsA_tCBh4fbpDK7wVLAA"
quality_data_2020=pd.read_csv(url,skiprows =1)
# print(quality_data.info())
def clean_df(df):
# convert the 'Date' column to datetime format
  df['Date']= pd.to_datetime(df['Date'])
# Remove rows with nodata in the Nitrogen dioxide column
  df.drop(df.loc[df["Nitrogen dioxide"]=="nodata"].index, inplace=True)
# Convert the Nitrogen dioxide levels values to float type
  df["Nitrogen dioxide"] = pd.to_numeric(df["Nitrogen dioxide"], errors='coerce') 
# Sort by Nitrogen dioxide level
  df.sort_values("Nitrogen dioxide")
# Convert times which are not all in the same format
#  df['Time']=pd.to_datetime(str(df['Time']))#,format='%H:%M:%S')????
# Create a new column for 'Weekdays'
  df['Weekdays']=df['Date'].dt.weekday
# Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)
  df.rename(columns={"Nitrogen dioxide": "NO2 Level (V ug/m2)"}, inplace = True)
# Remove the Status column
  del df["Status"]

  return df

df_quality_20_new=clean_df(quality_data_2020)
#print(df_new)
# Check the format of 'Date' column
print(df_quality_20_new.info())
# Show the type of the columns 
print(df_quality_20_new.dtypes)
print(df_quality_20_new)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8672 entries, 0 to 8783
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 8672 non-null   datetime64[ns]
 1   Time                 8672 non-null   object
 2   NO2 Level (V ug/m2)  8672 non-null   float64
 3   Weekdays             8672 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 338.8+ KB
None
Date                   datetime64[ns]
Time                           object
NO2 Level (V ug/m2)           float64
Weekdays                        int64
dtype: object
           Date      Time  NO2 Level (V ug/m2)  Weekdays
0    2020-01-01      1:00             35.65193         2
1    2020-01-01      2:00             37.99122         2
2    2020-01-01      3:00             35.70462         2
3    2020-01-01      4:00             36.57960         2
4    2020-01-01      5:00             32.94410         2
...         ...       ...                  ...       ...
8779 2020-12-31     20:00             11.22419         3
8780 2020-12-31     21:00             11.17037         3
8781 2020-12-31     22:00              9.54137         3
8782 2020-12-31     23:00              8.21683         3
8783 2020-12-31  24:00:00              8.16537         3

[8672 rows x 4 columns]

### Expand the dataset and show summary statistics for larger dataset
---

There is a second data set here covering the year 2021:  https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ  

Concatenate the two datasets to expand it to 2020 and 2021.  

Before you can concatenate the datasets you will need to clean and wrangle the second dataset in the same way as the first.  Use the code cell below.  Give the second dataset a different name. 

After the datasets have been concatenated, group the data by Weekdays and show summary statistics by day of the week.

In [23]:
url2="https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ"
quality_data_2021=pd.read_csv(url2,skiprows =1)

# Clean the second dataset
df_quality_21_new=clean_df(quality_data_2021)

# Concatenate the datasets
def concat_df(df1,df2):
  frames = [df1,df2] 
  df3=pd.concat(frames)
  return df3

quality_20_21=concat_df(df_quality_20_new,df_quality_21_new)
print(quality_20_21)

def analysis_df(df):
 # To find the unique days in weekdays
 # print(df["Weekdays"].unique())
  df_group_weekdays=df.groupby("Weekdays")

  return df_group_weekdays

stats=analysis_df(quality_20_21)
print(stats.describe())

           Date   Time  NO2 Level (V ug/m2)  Weekdays
0    2020-01-01   1:00             35.65193         2
1    2020-01-01   2:00             37.99122         2
2    2020-01-01   3:00             35.70462         2
3    2020-01-01   4:00             36.57960         2
4    2020-01-01   5:00             32.94410         2
...         ...    ...                  ...       ...
8755 2021-12-31  20:00             12.51492         4
8756 2021-12-31  21:00             14.00046         4
8757 2021-12-31  22:00             10.04780         4
8758 2021-12-31  23:00              3.49557         4
8759 2021-12-31  24:00              4.15682         4

[17352 rows x 4 columns]
[2 5 6 4 0 1 3]
         NO2 Level (V ug/m2)                                           \
                       count       mean        std      min       25%
Weekdays
0                     2443.0  14.303682  12.169515  0.38390  5.450550
1                     2429.0  15.297219  12.995011 -0.10519  5.722200
2                     2484.0  16.355849  12.679383 -0.77743  6.605060
3                     2503.0  14.871229  12.242185 -0.31174  6.066915
4                     2517.0  14.893637  11.932584  0.03299  5.769190
5                     2492.0  13.851765  11.724818  0.31041  4.783948
6                     2484.0  11.661928   9.255667 -0.41740  4.699523


                50%        75%       max
Weekdays
0         10.509990  19.468465  82.59609
1         11.015450  21.177800  80.27844
2         12.451350  23.308830  73.40940
3         11.280990  19.831120  72.00084
4         10.973970  20.977290  71.21977
5         10.366830  19.487335  69.88823
6          9.146155  16.218800  69.11823

### Helpful references
---
Skipping rows when reading datasets:  
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/  

Converting strings to dates:  
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:  
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/  
(see section Drop a row or observation by condition) 

Convert a column of strings to a column of floats:
https://datatofish.com/convert-string-to-float-dataframe/  

Create a new column from data converted in an existing column:  
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/  

Rename a column:  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  

Remove a column by name:  
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.